*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
  font-family: 'Roboto', sans-serif;
}
header{
background-color: #FFFFFF;
display: flex;
height: 80px;
box-shadow: 0px 4px 6px 0px #0000000D;
justify-content: space-between;
align-items: center;
padding: 16px 20px;
position: fixed;
top: 0;
left: 0;
width: 100%;
}
header ion-icon{
    width: 45px;
    height: 45px;
    cursor:pointer
}
body{
    background-color: #E7E7E7;
    font-family: 'Roboto', sans-serif;
}
.container{
margin-top: 100px;
margin-bottom: 84px;
}
strong {
    font-weight: 700;
}
footer{
display: flex;
background-color: #FFFFFF;
height: 80px;
box-shadow: 0px -4px 6px 0px #0000000D;
justify-content: space-between;
align-items: center;
padding: 16px 20px;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}
footer ion-icon{
    width: 26px;
    height: 26px;
    cursor: pointer;
}
footer input{
    width: 100%;
    height:100%;
    border: none;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
  
}
footer input::placeholder{
    font-style: italic;
    color: #000000;
}
.mensagem{
    margin-bottom: 4px;
    border-radius: 2px;
    width: 100%;
    font-size: 14px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    word-break: break-all;
}
.status{
    background-color: #DCDCDC;
}
.private_message{
    background-color: #FFDEDE;
}
.mensagem span{
    color: #AAAAAA;
}
.messageInterface{
    z-index: 1;
    display:flex;
    position: fixed;
    height: 100vh;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    left: 0;
    top:0
}
.filter{
    background: #00000099;
    filter: opacity(70%);
    width: 30%;
    cursor: pointer;
}
.interface{
    background-color:  #FFFFFF;
    padding: 10px 20px;
    width: 70%;
    word-break: break-all;
    overflow-y: scroll;
}
.interface ion-icon{
    min-width: 25px;
    min-height: 25px;
    margin-right: 8px;
    
}
.users{
    margin-top: 30px;
    font-weight: 400;
}
.user{
    display: flex;
    align-items: center;
}
.all{
    display: flex;
    align-items: center;
}
.userType{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visibilityList{
    font-weight: 400;
}
.visibilityType{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visibility{
    display: flex;
    align-items: center;
}
.title{
    margin: 30px 0;
    text-align: center;
}
.selectedIcon{
    color:#28BB25;   
    width: 25px;
    height: 25px;
}

.loginInput{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 130px;
    height: 92px;
    margin-top: 150px;
}
.loginBox{
    text-align: center;
}
.loginBox input {
    width: 70%;
    height: 60px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #D7D7D7
}
.loginInput input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #AEAEAE;
}
.loginInput button {
    width: 30%;
    margin-top: 20px;
    height: 44px;
    background-color: #E7E7E7;
    color: #696969;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid #D7D7D7;
    text-align: center;
}
.loginInput .loading{
    position: fixed;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-weight: 400;

}

.loginInput .loading img{
    width: 140px;
    height: 140px;
    animation: girandoGirandoGirando 3s infinite linear;
}
.hidden{
    display:none;
}
@keyframes girandoGirandoGirando {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}